name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter --version
      - run: flutter pub get packages/vital_core
      - run: flutter pub get packages/vital_devices/vital_devices
      - run: flutter pub get packages/vital_devices/vital_devices_platform_interface
      - run: flutter pub get packages/vital_devices/vital_devices_ios
      - run: flutter pub get packages/vital_devices/vital_devices_android
      - run: flutter pub get packages/vital_health/vital_health
      - run: flutter pub get packages/vital_health/vital_health_platform_interface
      - run: flutter pub get packages/vital_health/vital_health_ios
      - run: flutter pub get packages/vital_health/vital_health_android
